body {
  background-color: #ffffff;
  color: #ffffff;
  font-family: Arial;
  margin: 0;
  overflow: hidden;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#blocker {

	position: absolute;

	width: 100%;
	height: 100%;

	background-color: rgba(0,0,0,0.5);

}

#instructions_center, #congrats {

	width: 100%;
	height: 100%;

	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;

	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;

	color: #ffffff;
	text-align: center;

	cursor: pointer;
}

#sidebar {
	position:absolute;
	right: 0px; 
	height: 100%;
	width: 220px;
	padding: 10px;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.4);
}

#statusbar {
	width: 200px;
	background-color: rgba(0, 0, 0, 0.4);
	position:absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	height: 50px;
	padding: 5px;
}

#package {
	height: 50px;
	width: 50px;
	float: left;
}
/*
.tank {
	width: 410px;
	height: 50px;
	float: left;
	padding-top: 15px !important;
	padding-left: 28px !important;
	font-size: 16px;
}
.progressbar {
	width: 310px;
	height: 17px;
	background: #000000;
	float: left;
}
.progress {
	width: 80%;
	height: 17px;
	background: #0ff000;
}
*/
#cashamount {
	color: #00ff00;
	font-size: 20px;
	font-weight: bold;
}
.cash {
	width: 110px;
	height: 50px;
	float:left;
	padding-top: 10px !important;
	text-align: center;
}
.nopad, #package, #tank, #money, .progressbar, .progress {
	margin: 0;
	padding: 0;
}
.package_empty {
	background: url(../img/package_empty.png);
}
.package {
	background: url(../img/package.png);
}

#controls {
	position: absolute;
	bottom: 10px;
}

#feedback_box {
	position: absolute;
	height: 200px;
	width: 400px;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -100px;
	color: #ffffff;
	background-color: rgba(30, 30, 30, 0.3);
	padding: 30px;
	display: none;
}

.hidden {display:none;}

.float {float: left;}
.clear {clear: both; display: block;}


#minimap {
	position:absolute;
	left:1px;
	top:1px;
	height:110px;
	width:110px;
	background:#000000;
	border:1px solid black;
}

.dot {
	position:absolute;
	height:2px;
	width:2px;
}

.dotlabel {
	position: absolute;
	font-size: 8px;
}

.buildingoverlay {
	position: absolute;
}
.buildingcolor {
	z-index: 9999;
	opacity: 0.5;
	width: 30px;
	height: 30px;
	position: absolute;
}
.buildinglbl {
	position: absolute;
	margin-top: 30px;
	margin-left: -10px;
	font-size: 11px;
	font-family: Arial;
	color: #ffffff;
}

.buildingimg {
	position:absolute;
}

#current_task {
	padding: 4px;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 99999;
}

#current_task, #distest, #delivertask {
	font-size: 13px;
	color: #ddeeff;
}

#current_task input {
	background: #ddeeff;
}

#from, #to {
	font-weight: bold;
	text-decoration: underline;
}

#mapcanvas {
	height: 600px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	background: #AAAA99;
	border: 1px solid black;
	display: none;
}

#mapinstructions {
	color: #FFFFFF;
	font-weight:bold;
	text-align: center;
	display: none;
}

.itxt{
	font-size: 12px;
}


.recallinp {
	width: 110px;
	border: 2px inset #aaaaaa;
	margin: 3px;
}
